body{width: 100%; text-align: center;line-height: 1.5;background-color: bisque;}

.body{margin: 0 auto;width: 70%;clear: both; }
p{font-size: 200%;margin: 5px;}

.mainHedar img {width: 50%;height: 100px;}

.mainInfo{background-color: aqua;font-size: 200%;font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 100%;margin: 10px;
}

.mainCon nav {background-color: #e74c3c;height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 100%;margin: 10px;height: 60px; float: right;}

    .mainCon nav ul{text-align: center;
        list-style: none;margin: 0 auto;}

.mainCon nav ul li {display: inline-block; font-size: 150%; }
a{text-decoration: none;}

.mainCon a:link ,a:visited{color: rgb(13, 13, 201);
    padding: 10px 40px;display: inline-block; }

    .mainCon a:hover ,a:active{color: rgb(8, 150, 62);
        background-color: #f58233;box-shadow: 1px 1px #000;
        
    }

.copy{margin-top: 10px;} 

.fot{margin-bottom: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}  

    /*////////////////////CSS FOR MOBULE: /////////////////////////////////*/

    @media screen and (max-width :412px) {

        .body{width: 90%;font-size: 70%; }

        .mainCon nav {height: 100px;}

        .mainCon ul{padding: 0;width: 100%;} 

        .mainCon a:link  , .mainCon a:visited{
            display: block; }
        
            .mainCon a:hover , .mainCon a:active{color: darkgreen;
                background-color: #f58233;box-shadow: 1px 1px #000;}
                
        .fot{margin-bottom: 5px;
            font-size: 30%;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif} 
            
            img{width: 100%;}
    }
         